DOCKER_USERNAME=your-dockerhub-username


AUTH_SERVICE_URL=your_vm_ip_or_url
USER_SERVICE_URL=your_vm_ip_or_url
CONTENT_SERVICE_URL=your_vm_ip_or_url
UNIVERSITY_SERVICE_URL=your_vm_ip_or_url
NOTIFICATION_SERVICE_URL=your_vm_ip_or_url
UPLOAD_SERVICE_URL=your_vm_ip_or_url