DOCKER_USERNAME=your-dockerhub-username

POSTGRES_URL=jdbc:postgresql://ep-xxxxx.ap-southeast-1.aws.neon.tech/prevpaper_content_db?sslmode=require
POSTGRES_USERNAME=neondb_owner
POSTGRES_PASSWORD=xxxxxxxxxxxxxxxx

REDIS_HOST=xxxxx.upstash.io
REDIS_PORT=6379
REDIS_PASSWORD=xxxxxxxxxxxxxxxx

KAFKA_BOOTSTRAP=pkc-xxxxx.ap-south-1.aws.confluent.cloud:9092
KAFKA_USERNAME=XXXXXXXX
KAFKA_PASSWORD=XXXXXXXX
KAFKA_SASL_JAAS_CONFIG=org.apache.kafka.common.security.plain.PlainLoginModule required username="XXXXXXXX" password="XXXXXXXX";
KAFKA_SECURITY_PROTOCOL=SASL_SSL
KAFKA_SASL_MECHANISM=PLAIN

UNIVERSITY_VM_IP=13.233.xxx.xxx

JWT_SECRET=xxxxxxxxxxxxxxxxxxxxxxxx

RESEND_API_KEY=re_xxxxxxxxx

RESEND_FROM_EMAIL=noreply@prevpaper.in

GOOGLE_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxxxx.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=GOCSPX-xxxxxxxxxxxxxxxxxxxx
GOOGLE_REDIRECT=http://api.prevpaper.in/login/oauth2/code/google