DOCKER_USERNAME=your-dockerhub-username

POSTGRES_URL=jdbc:postgresql://ep-xxxxx.ap-south-1.aws.neon.tech/prevpaper_content_db?sslmode=require
POSTGRES_USERNAME=neondb_owner
POSTGRES_PASSWORD=xxxxxxxxxxxx

KAFKA_BOOTSTRAP=pkc-xxxxx.ap-south-1.aws.confluent.cloud:9092
KAFKA_USERNAME=xxxxxxxx
KAFKA_PASSWORD=xxxxxxxx
KAFKA_SASL_JAAS_CONFIG=org.apache.kafka.common.security.plain.PlainLoginModule required username="xxxxxxxx" password="xxxxxxxx";
KAFKA_SECURITY_PROTOCOL=SASL_SSL
KAFKA_SASL_MECHANISM=PLAIN

AUTH_VM_IP=13.233.xxx.xxx
UNIVERSITY_VM_IP=13.233.xxx.xxx